.signup-container {
    width: 350px;
    margin: 104px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .signup-title {
    margin-bottom: 20px;
  }
  
  .signup-input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .signup-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .signup-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    width: 100%;
    padding: 10px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background: #219150;
  }
  